.layout {
  display: flex;
  min-height: 100vh;
}

.layout__main {
  flex: 1;
  padding: 32px;
}

@media (max-width: 760px) {
  .layout {
    flex-direction: column;
  }

  .layout__main {
    padding: 20px;
  }
}
